<ion-content class="content-more">
	<button ion-button icon-only (click)="presentPopover($event)" class="pop-btn">
		<ion-icon name="icon-puntos"></ion-icon>
	</button>
	<ion-item class="user-info">
		<ion-list>
			<ion-item>
				<ion-avatar item-left>
					<img *ngIf="transaction['user'].img != null" [src]="transaction['user'].img">
					<img *ngIf="transaction['user'].img == null" src="./assets/images/avatar-user.png">
				</ion-avatar>
				<h2 text-uppercase>{{transaction['user'].name}}</h2>
				<p>C.C. {{transaction['user'].cedula}}</p>
				<p><ion-icon name="icon-cafe"></ion-icon> {{transaction['user'].cafe}}</p>
			</ion-item>
		</ion-list>
	</ion-item>
	<form (ngSubmit)="submit(f.value)" #f="ngForm" >
	<ion-list class="data-complementation">
		<h4 text-uppercase class="padd-left title">Datos para complementar</h4>
		<p class="hour-date"><ion-icon name="icon-calendario"></ion-icon> {{transaction['user'].created_at | date:'medium'}}</p>
		<ion-item>
			<ion-input type="number" name="kilograms" placeholder="Peso en kilogramos" class="border-input" [(ngModel)]='transaction.kilograms'></ion-input> <span class="title">Kilogramos</span>
		</ion-item>

		<h4 text-uppercase class="padd-left title">Cantidad por empaque</h4>
		<ion-list class="w30">
			<ion-item>
				<ion-label>Estopa</ion-label>
				<ion-input type="number" name="estopa" class="border-input" [(ngModel)]='transaction.estopa' required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>3Rayas</ion-label>
				<ion-input type="number" name="raya" class="border-input" [(ngModel)]='transaction.raya' required></ion-input><br>
			</ion-item>
			<ion-item>
				<ion-label>Kilo</ion-label>
				<ion-input type="number" name="kilo" class="border-input" [(ngModel)]='transaction.kilo' required></ion-input><br>
			</ion-item>
		</ion-list>
		<ion-item class="select-zona">
			
			<ion-label>
				<ion-icon name="icon-zona" class="f22"></ion-icon>
			</ion-label>
			<ion-select name="zona" [(ngModel)]="transaction.zona" class="white" placeholder="Zona">
				<ion-option value="z1" value="zona 1">Zona 1</ion-option>
				<ion-option value="z2" value="zona 2">Zona 2</ion-option>
				<ion-option value="z3" value="zona 3">Zona 3</ion-option>
				<ion-option value="z4" value="zona 4">Zona 4</ion-option>
				<ion-option value="z5" value="zona 5">Zona 5</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<button type="submit" ion-button round class="btn-scanner" [disabled]="!f.valid">Generar formato</button>
	</form>
</ion-content>