page-more {
    .white{color:white;}
    .content-more{
        background-image: inherit;
        background-color: #424242;
    }
    .item-search{
        .input-search{
            border-bottom: 1px solid #CCC;
        }
    }
    ion-item{
        background-color: transparent !important;
        .item-inner{
            border-bottom: 0px !important;
            ion-label{
                h2{font-size: 20px;color: #d1d1d1;margin: 5px 0px;}
                p{font-size: 0.9em;color:#d1d1d1;}
            }
        }
        .input-wrapper{
            ion-label{
                margin: 0px !important;
                ion-list{
                    background-color: #4f4f4f !important;
                    margin-bottom: 0px !important;
                    padding: 1em 0px;
                }
            }
        }
        ion-avatar{
            img{
                width: 60px !important;
                height: 60px !important;
            }
        }
    }
    .into-cedula{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0px !important;
        padding: 15px;
        .item-search{
            width: 70%;
            ion-input{
                width: 65%;
                display: inline-block;
            }
        }
        .link-search{
            width: 28%;
            padding-left: 0px;
            a{
                color: #00e6ff;
                text-decoration: none;
                font-size: 1.2em;
            }
        }
        p{
            color: #c9c9c9;
            margin: 0px;
            font-size: 1em;
        }
    }
    .data-complementation{
        background-color: #4f4f4f !important;
        color: #ededed;
        padding: 10px !important;
        margin: 3px;
        margin-bottom: 8px !important;
        p.hour-date{padding-left: 14px;}
        h4{
            font-size: 1.5rem;
            padding-left: 14px;
        }
        ion-item{
            padding-left: 14px !important;
        }
    }
    .border-input{
        border: 1px solid #c3c3c3;
        color: #c3c3c3;
        margin: 8px 3px;
    }
    .user-info{
        padding-left: 3px;
        .item-inner{
            padding-right: 3px !important;
        }
    }
    .btn-scanner{
        margin: 2em auto;
    }
}