<ion-content>
	<ion-header>
		<img src="../assets/images/logo-01.png" class="logo">
	</ion-header>
<fieldset class="content-home">
		<legend>
			<img [src]="repOne['img']" alt="">
		</legend>
		<form (ngSubmit)="submit(f.value)" #f="ngForm" class="form-login">
		<div class="select-person">
			<h3>{{repOne.email}}</h3>
		</div>
  	<ion-list>
	  <div class="hide-password"  *ngIf="!hidePass == false">
		<ion-item>
			<input type="hidden" name="email" [(ngModel)]="user.email" />
			<ion-input type="number" name='password' [ngModel]='user.password' required style="-webkit-text-security:disc"></ion-input>
    	</ion-item>
		<ion-item>
    		<button ion-button  type="submit" color="secondary" [disabled]="!f.valid" class="btn-scanner" round>Enviar</button>
  		</ion-item>
	  </div>
    </ion-list>
		<ion-content class="list-users"  #contentUsers *ngIf="!bl==true">
			<ion-list >
				<ion-item *ngFor="let usr of users" (click)="setMainRepository(usr)">
					<ion-avatar item-left>
						<img [src]="usr['img']" alt="">
					</ion-avatar>
					<h2>{{usr.email}}</h2>
				</ion-item>
			</ion-list>
		</ion-content>
		<a href="#" (click)="backUsers()" *ngIf="!bl == false">Back</a>
	</form>
	</fieldset>
</ion-content>
