$icomoon-font-path: "fonts" !default;

$icon-borrar: "\e916";
$icon-checkmark: "\e915";
$icon-abajo: "\e900";
$icon-adelante: "\e901";
$icon-agregar: "\e902";
$icon-arriba: "\e903";
$icon-arroba: "\e904";
$icon-atras: "\e905";
$icon-buscar: "\e906";
$icon-cafe: "\e907";
$icon-calendario: "\e908";
$icon-candado: "\e909";
$icon-cedula: "\e90a";
$icon-escaner: "\e90b";
$icon-hoja: "\e90c";
$icon-id: "\e90d";
$icon-lapiz: "\e90e";
$icon-mensaje: "\e90f";
$icon-peso: "\e910";
$icon-puntos: "\e911";
$icon-telefono: "\e912";
$icon-usuario: "\e913";
$icon-zona: "\e914";

