page-add {
	ion-tabs{
		.tabbar.show-tabbar{
			background: #575756 !important;
			.tab-button{
				color:white;
				ion-icon{
					color:white;
				}	
			}
		}
	}
	 .ion-content{
		background-image: url("../assets/images/fondo-01.png");
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center center;
		.scroll-content{
			padding: 2px !important;
		}
		ion-list{
			ion-item{
			    background-color: rgb(79, 79, 79) !important;
				padding: 0px 10px !important;
				margin-bottom: 3px !important;
				.item-inner{
					border-bottom:0px !important;
				}
			}
		}
		.sec-search{padding: 0px 16px}
		.header-home{
			height: 30vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			p{
				font-size: 1.12em !important;
				text-align: center;
				color: white;
			}
			.pop-btn{
				color: #00e6ff;
				background-color: transparent;
				position: absolute;
				top: 0px;
				right: 0px;
			}
		}
		.transac-title{ color: white;font-size: 1.1em;margin: 10px 0px;}
	 }
	 .none-bg{
		 background-image: none !important;
		 background-color:transparent;
		 ion-item{
				 background-color: transparent;
				 padding-left: 0px;
				 ion-avatar{
					 img{
						width: 5em;
						height: 5em;
					 }
				 }
				 .item-inner{
					 ion-label{
						 position: relative;
						 h2{font-size:1.1em!important;color:#d1d1d1;}
						 p{font-size: .9em!important;color:#d1d1d1;}
						 .productor-arrow{
							position: absolute;
							top: 0px;
							right: 0px;
							bottom: 0px;
							background-color: transparent;
							font-size: 20px;
							color: #00e6ff;
						 }
					 }
				 }
			 }
	 }
	 .tab-home{
		//z-index:10;
		.tabbar{
			opacity:1;
		}
	}
}
