page-user{
	ion-content{
		.pop-btn{
			color: #00e6ff;
			background-color: transparent;
			position: absolute;
			top: 0px;
			right: 0px;
			font-size: 15px;
			box-shadow: inherit !important;
			&:hover{
				background-color: inherit;	
			}
		}
		.m-top{
			margin: 2em !important;
		}
		.fieldset{
		    background: rgb(79, 79, 79);
    		border: 0px;
		}
		ion-col.col {
				font-size: 16px;
			}
			.f22{font-size: 22px;}
			ion-list{
				margin-top:20px;
				ion-grid{
					ion-row{
						margin-bottom:20px;
					}
				}
			}
	}
	.content{
		background: rgb(66, 66, 66);
		border-radius: 5px;
		padding: 5px;
		min-height:150px;
		border: 0px;
		.hide{overflow: hidden;}
		p{
			text-align: center;
			font-size: 1.3em;
			color: #ebebeb;
			margin: 0px;
		}
		legend{
			margin: 0 auto;
			img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
		ion-item{
			background-color: transparent !important;
			color:#ebebeb;
			.item-inner{
				border-bottom: 0px !important;
				.input-wrapper{
					ion-label{
						display: flex;
						align-items: center;
					}
				}
			}
			ion-icon{
				font-size: 2em;
				margin-right: 20px;
			}
		}
		.grid{
			color: white;
		}
	}
	.zone-btn{
	    display: flex;
    	justify-content: center;
		margin-top: 1.5em;
		.btn1{
			margin: 0 auto;
			width: 35%;
			font-weight: 100;
		}
		.btn2{
    		margin-left: 15px;
			width: 35%;
			font-weight: 100;
		}
	}
}